body {
    background-color: black;
    color: chartreuse;
    font-family: monospace;
    height: 95vh;
}


input{
    background-color: black;
    color: chartreuse;
    border: none;
    width: fit-content;
    width: 20px;
    border-bottom: chartreuse dashed 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
    list-style-image: url('icon.svg');
  }

.social {
	background:rgba(255,255,255, 0.3);
	color: chartreuse;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
    right: 5px;
    bottom: 5px;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: chartreuse;
}