body {
    background-color: black;
    color: chartreuse;
    font-family: monospace;
}

input{
    background-color: black;
    color: chartreuse;
    border: none;
    width: fit-content;
}

button {
    background-color: black;
    color: chartreuse;
    border: chartreuse dashed;
}